
* {
  padding: 0px;
  margin: 0px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
border: 0px solid;
margin: 5px;
background-color: rgb(39, 48, 67);
}

.hlavawebu{
position: sticky;
z-index: 100;
left: 0px;
top: 0px;
border:0px solid;
width: 100%;
height: 70px;
font-size: 30px;
background-color: rgb(39, 48, 67) ;
}

.bobbor{
position: absolute;
border: 0px solid;
left: 39%;
top: -2%;
color: rgb(19, 75, 158);
font-family:"consolas";
text-shadow: 3px 3px 5px hsl(208, 47%, 42%), -3px -3px 5px hsl(206, 63%, 12%);
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
animation: bobbor;
animation-duration: 2s;

}
@keyframes bobbor{
  from{margin-left: 100%;}
  to{margin-left: 0%;}
}

.fa-instagram{
 color: rgb(255, 255, 255);
 position: absolute;
 left: 4%;
 top: 20%;
 font-size: 40px;
 animation: bobbor;
 animation-duration: 2s;
}

.fa-instagram:hover{
  transition: 0.5s all;
  color: black;
}

.fa-youtube{
  color: red;
  position: absolute;
  font-size: 40px;
  top: 20%;
  left: 8%;
  animation: bobbor;
  animation-duration: 2s;
}

.fa-youtube:hover{
  transition: 0.5s all;
  color: black;
}

.fa-envelope{
  color: rgb(104, 115, 216);
  position: absolute;
  font-size: 42px;
  top: 20%;
  left: 12.5%;
  animation: bobbor;
  animation-duration: 2s;
}

.fa-envelope:hover{
  transition: 0.5s all;
  color: black;
}

.tlacitka{
display: flex;
position: relative;
border: 0px solid;
border-radius: 30px;
height: 30px;
width: 45%;
background-color:rgb(204, 183, 174) ;
flex-wrap: wrap;
gap: 2em;
margin-left: 28%;
margin-top: 2%;
padding: 15px;
}

.gym{
  
  position: absolute;
  border: 0px solid;
  left:10%;
  font-size: 20px;
  color: rgb(34, 116, 165);
}

.edit{
  position: absolute;
  border: 0px solid;
  left: 20%;
  text-decoration: none;
  font-size: 20px;
  color: rgb(34, 116, 165);
}

.program{

  position: absolute;
  border: 0px solid;
  left: 30%;
  text-decoration: none;
  font-size: 20px;
  color: rgb(34, 116, 165);

}

.tvurci{
  position: absolute;
  border: 0px solid;
  left: 49%;
  text-decoration: none;
  font-size: 20px;
  color: rgb(34, 116, 165);
  
}

.games{
  position: absolute;
  border: 0px solid;
  left: 62%;
  text-decoration: none;
  font-size: 20px;
  color: rgb(34, 116, 165);
}

.home{
  position: absolute;
  border: 0px solid;
  left: 80%;
  text-decoration: none;
  color: rgb(144, 16, 16);
  font-size: 20px;
  
}

.gym:hover{
  transition: 0.5s all ;
color: rgb(0, 0, 0);

}

.edit:hover{
  transition: 0.5s all ;
color: rgb(0, 0, 0);
}

.program:hover{
  transition: 0.5s all ;
color: rgb(0, 0, 0);
}

.tvurci:hover{
  transition: 0.5s all ;
color: rgb(0, 0, 0);
}

.games:hover{
  transition: 0.5s all ;
  color: rgb(0, 0, 0);
}

.home:hover{
  transition: 0.5s all ;
color: rgb(0, 0, 0);
}

.aj{
  position: absolute;
  top: 30%;

}

.list{
  padding: 15px;
  font-style: italic;
  position: relative;
  border: 0px solid;
  border-radius: 30px;
  font-size: 50px;
  width: 19% ;
  left: 41%;
  margin-top: -36.5%;
  background-color: rgb(32, 90, 156);
  transition: 1.5s all;
}

.list:hover{
  transform: scale(1.1);
}

.kontakty{
display: flex;
position: relative;
border: 0px solid;
margin-top: 15%;
width: 63%;
height: 540px;
left: 19%;
border-radius: 70px;
background-color: rgb(104, 115, 216);
}

.ig1{
  position: absolute;
  border: 0px solid;
  left: 11%;
  top: 23%;
  transition: 1.5s all;
}

.ig1:hover{
  transform: scale(1.5);
}


.gmail1{
position: absolute;
border: 0px solid;
left: 32.5%;
top: 23%;
transition: 1.5s;
}

.gmail1:hover{
  transform: scale(1.5);
}

.yt1{
position: absolute;
border: 0px solid;
left: 67%;
top: 13%;
transition: 1.5s;

}

.yt1:hover{
  transform: scale(1.5);
}


.ig{
position: relative;
border: 0px solid;;
width: 10%;
font-size: 50px;
left: 24.5%;
margin-top: -8%;
font-style: italic;
}

.gmail{
position: relative;
border: 0px solid;
width: 15%;
font-size: 20px;
left: 43.5%;
margin-top: -2%;
font-style: italic;
}

.bob{
position: relative;
border: 0px solid;
font-size: 50px;
font-style: italic;
width: 10%;
left: 65.5%;
margin-top: -2%;


}

.bobanek{
  position: relative;
  display: flex;
  border: 0px solid;
  margin: -5px;
  margin-top: 33%;
  height:450px;
  padding: 1%;
  background-color: rgb(89, 84, 87);

}

.vid{
position: absolute;
left: 35.5%;
top: 18%;
border: 3px solid;
border-color: rgb(179, 20, 20);
}

#yt3{
position: absolute;
left: 7%;
top: 18%;
rotate: -45deg;
}
#yt4{

  position: absolute;
  left: 75%;
  top: 18%;
  rotate: -45deg;
}

@media only screen and (max-width: 1500px) {
  .list{
    padding: 15px;
    font-style: italic;
    position: relative;
    border: 0px solid;
    border-radius: 30px;
    font-size: 50px;
    width: 24% ;
    left: 38%;
    margin-top: -49%;
    background-color: rgb(32, 90, 156);
  }

  .bobbor{
    position: absolute;
    border: 0px solid;
    left: 36%;
    top: -2%;
    color: rgb(19, 75, 158);
    font-family:"consolas";
    text-shadow: 3px 3px 5px hsl(208, 47%, 42%), -3px -3px 5px hsl(206, 63%, 12%);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: bobbor;
    animation-duration: 2s;
  }

  .fa-instagram{
    color: rgb(255, 255, 255);
    position: absolute;
    left: 10%;
    top: 20%;
    font-size: 40px;
    animation: bobbor;
    animation-duration: 2s;
   }
   
   .fa-instagram:hover{
     transition: 0.5s all;
     color: black;
   }
   
   .fa-youtube{
     color: red;
     position: absolute;
     font-size: 40px;
     top: 20%;
     left: 14%;
     animation: bobbor;
     animation-duration: 2s;
   }
   
   .fa-youtube:hover{
     transition: 0.5s all;
     color: black;
   }
   
   .fa-envelope{
     color: rgb(104, 115, 216);
     position: absolute;
     font-size: 42px;
     top: 20%;
     left: 18.5%;
     animation: bobbor;
     animation-duration: 2s;
   }
   
   .fa-envelope:hover{
     transition: 0.5s all;
     color: black;
   }
  
   .kontakty{
    position: relative;
    border: 0px solid;
    margin-top: 18%;
    width: 60%;
    height: 540px;
    left: 19%;
    border-radius: 70px;
    background-color: rgb(104, 115, 216);
    }

    .bobanek{
      position: relative;
      display: flex;
      border: 0px solid;
      margin: -5px;
      margin-top: 45%;
      height:450px;
      padding: 1%;
      background-color: rgb(89, 84, 87);
    
    }
}